@import '~src/styles/colors';

.header-prices {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 4px 4px -1px $grey;
  display: flex;
  height: 80px;
  margin-bottom: 20px;
  padding: 10px 50px 10px 10px;
}

.btnConvert {
  background: url('src/assets/shuffle.png') no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.greenCircle {
  color:$green-soft;
  font-size: 1em;
  min-width: 25px;
  position: relative;

  &::before {
    background-color: $green-soft;
    border-radius: 50%;
    content: '';
    height: 17px;
    position: absolute;
    right: calc(100% + 10px);
    width: 17px;
  }
}

.redCircle {
  color: $red;
  font-size: 1em;
  min-width: 25px;
  position: relative;

  &::before {
    background-color: $red;
    border-radius: 50%;
    content: '';
    height: 17px;
    position: absolute;
    right: calc(100% + 10px);
    width: 17px;
  }
}

.item {
  align-items: center;
  flex: 1 1 0;

  .title {
    color: $ligth-gray;
    font-size: 18px;
  }
}

.decorator {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.money {
  align-items: center;
  background-color: $white;
  border: 2px solid $gray-soft;
  border-radius: 5px;
  display: flex;
  height: 70px;
  margin-bottom: 15px;
  padding: 10px 50px 10px 10px;
  width: 100%;

  .name-money {
    color: $ligth-gray;
    font-size: 1em;
  }

  .price {
    color: $blue-solid;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.scroll {
  height: 100%;
  overflow: auto;
}
