@import '~src/styles/colors';

.container-money {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-prices {
  background-color: $white;
  box-shadow: 5px 5px 5px 0 $grey;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  width: 80%;
  height: 80px;
  padding: 10px 50px 10px 10px;
}

.btnConvert {
  background: url('src/assets/shuffle.png') no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}
.greenCircle {
  color:$green-soft;
  font-size: 1em;
  left: 20px;
  position: relative;
  &::before {
    background-color: $green-soft;
    content: '';
    height: 17px;
    width: 17px;
    position: absolute;
    right: 30px;
    border-radius: 50%;
  }
}
.redCircle {
  color: $red;
  font-size: 1em;
  left: 20px;
  position: relative;
  &::before {
    background-color: $red;
    content: '';
    height: 17px;
    width: 17px;
    position: absolute;
    right: 30px;
    border-radius: 50%;
  }
}
.div-item {
  align-items: center;
  flex: 1 1 0;
  .title {
    color: $ligth-gray;
    font-family: 'RooneySans-Regular';
    font-size: 18px;
  }
}
.div-decorator {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.divCenter {
  text-align: center;
}
.divEnd {
  text-align: end;
}
.div-money {
  background-color: $white;
  align-items: center;
  display: flex;
  width: 80%;
  height: 70px;
  border: 2px solid $gray-soft;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 50px 10px 10px;

  .name-money {
    color: $ligth-gray;
    font-size: 1em;
  }
  .price {
    color: $blue-solid;
    font-size: 1.5em;
    font-weight: bold;
  }
}
