<div class="container-convert">
  <h1 class="title">{{'makeChange' | translate}}</h1>
  <h2 class="subtitle">{{'selectCurrencies' | translate}}</h2>
  <form class="card-convert" [formGroup]="cForm" (ngSubmit)="convert(cForm.value)">
    <div class="input-wrapper">
      <input class="form-input price" (input)="calculate()" type="text" formControlName="amount" mask="comma_separator.2" [(ngModel)]='amountValue'  />
    </div>
    <div class="select-wrapper">
      <select class="form-input price select" (change)="calculate()" [(ngModel)]='from' formControlName="from">
        <option *ngFor='let money of moneys' value="{{money.id_currency}}">{{money.id_currency}}</option>
      </select>
    </div>
    <div class="select-wrapper">
      <select class="form-input price select" (change)="calculate()" formControlName="to" [(ngModel)]='to'>
        <option *ngFor='let money of moneys' value="{{money.id_currency}}">{{money.id_currency}}</option>
      </select>
    </div> 
    <div class="input-wrapper">
      <input type="text" class="form-input price" disabled [value]="quantity | mask: 'comma_separator.2'" />
    </div>
    <button class="swap-btn" (click)='revert()' ></button>
  </form>
</div>
