$blue: #8cc4f6;
$blue-solid: #1982FE;
$grey: #C4C4C4;
$ligth-gray: #4A4A4A;
$white: #FFF;
$gray-soft: #EEEEEE;
$green-soft: #1ED97F;
$red: #EE574E;
$blue-tab: #0076FF;
$grey-tab: #4A4A4A;
$blue-soft: #EAF4FF;